<spinner [backgroundColor]="'#5BC0DE'" [spinner]="spinkit.skWave"></spinner>

<div class="modal-header">
  <h2>Choisissez votre modèle de formulaire</h2>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <!--activeModal vient de NgbModule / cf ng-bootstrap-->
    <span aria-hidden="true">&times;</span>
    <!--fabrication de la petite croix et sa fonction pour fermer le modal -->
  </button>
</div>

<div class="modal-body">
  <a  *ngFor="let elem of models">
    <!--boucle pour récupérer les models existants-->
    <button (click)="selectChoice(elem)" class="btn btn-info" id="btn">{{elem.model}}</button>
    <br>
    <!-- au clic, envoi du type de  model sélectionné et ouverture de la modal de creation de formulaire avec survey-->
  </a>
</div>
