<spinner [backgroundColor]="'#5BC0DE'" [spinner]="spinkit.skWave"></spinner>
<h1>Modèles de formulaires existants</h1>
<br>
<hr>

<div class="row">
  <div class="col-sm-6">
    <table class="table table-striped table-bordered">
      <thead class="thead">
        <tr>
          <th class="col-3" scope="col">
            <h5>Nom du formulaire</h5>
          </th>
          <th class="col-6" scope="col">
            <h5>Description</h5>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let elem of dataSurveyModel" (click)="setDataService(elem)">
          <!--boucle pour récupérer les models existants-->
          <td>
            <a>{{elem.model}} </a>
            <!-- au clic, envoi du contenu du model sélectionné dans l'éditor-->
          </td>
          <td>
            <a>{{elem.comment}}</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<hr>


<h4>Paramétrage du formulaire : "{{elemData.model}}"</h4>
<br>
<div style="height:300px; width:600px;">
  <json-editor [options]="editorOptions" [data]="elemData"></json-editor>
  <!--affichage de l'editor : contenu du model sélectionné-->
  <br>
  <a>
    <button class="btn btn-outline-success" (click)="updateModelEditor(elemData)">mettre à jour le modèle</button>
    <!--récup des modifs effectuées dans l'editor (envoi à BDD via le service)-->
  </a>
</div>