<head>
  <script src="https://surveyjs.azureedge.net/1.0.17/survey.jquery.js"></script>
</head>


<div class="modal-header">
  <div class="title2">
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <!--activeModal vient de NgbModule / cf ng-bootstrap-->
      <span aria-hidden="true">&times;</span>
      <!--fabrication de la petite croix et sa fonction pour fermer le modal -->
    </button>
  </div>
  <div class="title">
    <h2>Saisie du formulaire</h2>
    <p>type formulaire : {{json['model']}}</p>
  </div>

</div>

<div class="modal-body">
  <!--Fabrique du survey-->
  <div class="survey-container contentcontainer codecontainer">
    <div id="surveyElement">
    </div>
  </div>

</div>